.heading1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
}

.heading2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.heading3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.heading4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}